/* .format { 
    text-shadow: black;
    position: absolute;
    top: 50;
}
.carousel-item img {
    width: 100%;
    height: 600px;
}*/

.s img {
    position: absolute;
    width: 100%;
    height: 700px;
} 
.s1
{
    /* background-image: url(assets/img/cute_goat.jpg); */
    background-repeat: no-repeat;
    background-size: cover; 
    animation: fade1 20s infinite;
} 
.s2
{
    /* background-image: url(assets/img/sheep.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade2 20s infinite;
} 
.s3
{
    /* background-image: url(assets/img/gosts_winter_snow.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade3 20s infinite;
} 
@keyframes fade1 {
    0%
    {
        opacity: 1;
    }
    33%
    {
        opacity: 0;
    }
    66%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes fade2 {
    0%
    {
        opacity: 0;
    }
    33%
    {
        opacity: 1;
    }
    66%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 0;
    }
}
@keyframes fade3 {
    0%
    {
        opacity: 0;
    }
    33%
    {
        opacity: 0;
    }
    66%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
@media screen and (max-width: 768px)
{
    .s img {
        position: absolute;
        width: 100%;
        height: 400px;
    }
}
.container {
    position: absolute;
    top: 50%;
    width: 400px;
    height: 230px;
}
.axis {
    /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 1); */
	 transform: scale(1); 
}
.jummbotron {
    background-color: black;
}
@media screen and (max-width: 768px)
{
    .container {
        position: absolute;
        top: 28%;
        width: 300px;
        height: 150px;
    }
}