 .container-fluid {
    position: absolute;
     top: 45em; 
    background-color: goldenrod;
}


@media screen and (max-width: 1000px)
{
    .container-fluid {
        position: absolute;
        top:45em;
        background-color: goldenrod;
    }
    .padding{
        /* padding-bottom: 1em; */

    }
    .container-fluid {
        /* padding-top: 1em; */
    }
    .container-fluid img {
        /* width: 400px; */
        /* height: 400px; */
        /* margin-bottom: 1em; */
    }

}
@media screen and (max-width: 990px)
{
    .container-fluid {
        position: absolute;
        top:45em;
        background-color: white;
    }
    .padding{
        padding-bottom: 1em;

    }
    .container-fluid {
        padding-top: 1em;
    }
    .container-fluid img {
        /* width: 400px; */
        /* height: 400px; */
        margin-bottom: 1em;
    }

}
@media screen and (max-width: 800px)
{
    .container-fluid {
        position: absolute;
        top:40em;
        background-color: white;
    }
    .padding{
        padding-bottom: 1em;

    }
    .container-fluid {
        padding-top: 1em;
    }
    .container-fluid img {
        /* width: 400px; */
        /* height: 400px; */
        margin-bottom: 1em;
    }

}
@media screen and (max-width: 765px)
{
    .container-fluid {
        position: absolute;
        top:26em;
        background-color: white;
    }
    .padding{
        padding-bottom: 1em;

    }
    .container-fluid {
        padding-top: 1em;
    }
    .container-fluid img {
        /* width: 400px; */
        /* height: 400px; */
        margin-bottom: 1em;
    }

}
@media screen and (max-width: 600px)
{
    .container-fluid {
        position: absolute;
        top:26em;
        background-color: white;
    }
    .padding{
        padding-bottom: 1em;

    }
    .container-fluid {
        padding-top: 1em;
    }
    .container-fluid img {
        /* width: 400px; */
        /* height: 400px; */
        margin-bottom: 1em;
    }

}
