 <div class="container">
    <div [@foobar]="state">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ">
      <img src="assets/img/goat_and_glasses.jpg"> 
    <!-- <p style="width: 100%; height: 250px; border: 1px solid black; padding: 15px; background: #2a98ef">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, reprehenderit?</p>   -->
    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ">
    <div class="wrapper">
      <div class="box-area">
        <div class="box1">
          <img src="assets/img/logo.jpg">
        </div>
        <div class="box2">
          <img src="assets/img/b_w_goat.jpg">
        </div>
        <div class="box3">
          <img src="assets/img/goat_lake.jpg">
        </div>
        <div class="box4">
          <img src="assets/img/hair_goat.jpg">
        </div>
        <div class="box5">
          <img src="assets/img/goat_kid.jpg">
        </div>
        <div class="box6">
          <img src="assets/img/sheep_family.jpg">
        </div>
      </div>
      </div>
    </div>-->
   </div>
    </div> 
    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ">
   <div style="width: 50%; height: 400px; background-color: cadetblue;">
  <div [@bloodbar]="value">
    <h1>Ansari</h1>
  </div>
  </div>
  </div>-->
 </div> 
