<div class="container-fluid">
        <h1 class="display-1" style="text-align: center;">Service</h1>
  <div class="row text-center padding">
    <!--First Image-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin">
        <!-- <button type="button" (click)="open(mymodal)" class="btn-outline-light"> -->
            <img (click)="open(mymodal)" src="assets/img/curing_vector.png" >
        <!-- </button> -->
        <h4>Medical Care</h4>
                    <ng-template #mymodal let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">×</span>
                                    </button>
                            </div>
                                <div class="modal-body">
                            <img src="assets/img/curing_vector.png">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem tempora esse cupiditate commodi nihil veritatis distinctio alias consequuntur? Tempore ducimus ipsam reprehenderit aperiam nisi reiciendis corporis iure perspiciatis in illum.</p>
                                </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                            </div>
                    </ng-template>
    </div>
    <!--Second Image-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin">
        <button type="button" (click)="open(mymodel)" class="btn-outline-light">
            <img src="assets/img/transparent.jpg">
        </button>
        <h4>Logo</h4>
        <ng-template #mymodel let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <img src="assets/img/transparent.jpg">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem tempora esse cupiditate commodi nihil veritatis distinctio alias consequuntur? Tempore ducimus ipsam reprehenderit aperiam nisi reiciendis corporis iure perspiciatis in illum.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
            </div>
          </ng-template>
    </div>
    <!--Third Image-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin">
        <!-- <button type="button" (click)="open(mymodl)"> -->
            <img src="assets/img/mop_bucket.png" (click)="open(mymodl)">
        <!-- </button> -->
        <h4>Cleaning</h4>
        <ng-template #mymodl let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <img src="assets/img/mop_bucket.png">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem tempora esse cupiditate commodi nihil veritatis distinctio alias consequuntur? Tempore ducimus ipsam reprehenderit aperiam nisi reiciendis corporis iure perspiciatis in illum.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
            </div>
          </ng-template>
    </div>
    <!--Fourth Image-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin">
        <!-- <button type="button" (click)="open(mymodle)"> -->
            <img src="assets/img/shower.jpg" (click)="open(mymodle)">
        <!-- </button> -->
        <h4>Bathing</h4>
        <ng-template #mymodle let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <img src="assets/img/shower.jpg">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem tempora esse cupiditate commodi nihil veritatis distinctio alias consequuntur? Tempore ducimus ipsam reprehenderit aperiam nisi reiciendis corporis iure perspiciatis in illum.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
            </div>
          </ng-template>
    </div>
    <!--Fifth Image-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin">
        <!-- <button type="button" (click)="open(mymodul)"> -->
            <img src="assets/img/breeding.jpg" (click)="open(mymodul)">
        <!-- </button> -->
        <h4>breeding</h4>
        <ng-template #mymodul let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <img src="assets/img/breeding.jpg">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem tempora esse cupiditate commodi nihil veritatis distinctio alias consequuntur? Tempore ducimus ipsam reprehenderit aperiam nisi reiciendis corporis iure perspiciatis in illum.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
            </div>
          </ng-template>
    </div>
    <!--Sixth Image-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin">
        <!-- <button type="button" (click)="open(my_modal)"> -->
            <img src="assets/img/vector_feeding.jpg" (click)="open(my_modal)">
        <!-- </button> -->
        <h4>Feeding</h4>
        <ng-template #my_modal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <img src="assets/img/vector_feeding.jpg">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem tempora esse cupiditate commodi nihil veritatis distinctio alias consequuntur? Tempore ducimus ipsam reprehenderit aperiam nisi reiciendis corporis iure perspiciatis in illum.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
            </div>
          </ng-template>
    </div>
</div>
</div>